// font family
$cbe-font-family: cwTeXYen, sourcehansans-tc, 微軟正黑體, "Noto Sans TC", "Source Sans Pro", "Helvetica Neue", Helvetica,
    Arial, sans-serif;

$cbe-primary-color: #337ab7;
$cbe-primary-hover-color: #598bff;

$font-size-medium: 0.875rem;
$font-weight-normal: 400;

.tabs-frame {
    border-bottom: 1px solid #edf1f7;
    padding: 0;
    margin: 0;
    max-width: 100%;
    display: flex;
    align-items: center;

    button {
        width: 4.5rem;
        width: 4.5vw;
        height: 4.5rem;
        height: 4.5vw;
        min-width: 1.8rem;
        min-height: 1.8rem;
        margin: 0 1%;
        padding: 0.5% !important;

        nb-icon {
            width: 3rem;
            width: 3vw;
            height: 3rem;
            height: 3vw;
            min-width: 1.2rem;
            min-height: 1.2rem;
        }
    }

    .item {
        font-family: $cbe-font-family;
        font-size: $font-size-medium;
        font-weight: $font-weight-normal;
        display: inline-block;
        margin: 0 2%;
        padding: 2%;
        color: rgb(51, 51, 51);
        list-style-type: none;
        cursor: pointer;

        &.active {
            font-family: $cbe-font-family;
            font-size: $font-size-medium;
            font-weight: $font-weight-normal;
            border-bottom: 3px solid $cbe-primary-color;
            color: rgb(51, 51, 51);
        }

        &:hover {
            font-family: $cbe-font-family;
            font-size: $font-size-medium;
            font-weight: $font-weight-normal;
            border-bottom: 3px solid $cbe-primary-hover-color;
            color: $cbe-primary-hover-color;
        }

        .tab-close {
            cursor: pointer;

            nb-icon {
                width: 1rem;
            }
        }
    }

    .tabs-btn {
        display: inline-block;
        width: 20%;

        button:nth-child(1) {
            margin: 0.6875rem 0.5625rem;
        }
    }
}
