<div id="{{ componentId }}" type="Quote" class="quote qa-block">
    <cbe-shared-operator [data]="data"></cbe-shared-operator>
    <div class="header">
        <div>
            <label>{{ i18n.QA_EDITOR.QUOTE.QUOTE_SMARTQA }}</label>
            <nb-icon class="info-tooltip" icon="info" [nbTooltip]="i18n.QA_EDITOR.QUOTE.QUOTE_REMIND"></nb-icon>
        </div>
    </div>
    <input
        #quote
        type="text"
        nbInput
        fullWidth
        [placeholder]="i18n.QA_EDITOR.PLACEHOLDER.QUOTE_SMARTQA"
        [ngClass]="{ error: !this.verifyState.quote.state }"
        readonly
        (click)="openSmartQAList()"
    />
    <div class="error-wording">{{ this.verifyState.quote.errMsg }}</div>
</div>
