<div id="{{ componentId }}" type="Json" class="json qa-block">
    <cbe-shared-operator [data]="data"></cbe-shared-operator>
    <div class="header">
        <div>
            <label>{{ i18n.QA_EDITOR.JSON.JSON }}</label>
            <nb-icon class="info-tooltip" icon="info" [nbTooltip]="i18n.QA_EDITOR.JSON.JSON_LIMIT"></nb-icon>
        </div>
    </div>
    <div class="body" #body>
        <textarea
            #jsonContent
            nbInput
            fullWidth
            class="text-area"
            rows="5"
            [placeholder]="i18n.QA_EDITOR.PLACEHOLDER.JSON_INPUT"
            [ngClass]="{ error: !this.verifyState.json.state }"
        ></textarea>
        <div class="error-wording">{{ this.verifyState.json.errMsg }}</div>
    </div>
</div>
