// font family
$cbe-font-family: cwTeXYen, sourcehansans-tc, 微軟正黑體, "Noto Sans TC", "Source Sans Pro", "Helvetica Neue", Helvetica,
    Arial, sans-serif;

// font size
$font-size-large: 1.125rem;
$font-size-normal: 1rem;
$font-size-medium: 0.875rem;
$font-size-small: 0.8125rem;
$font-size-smaller: 0.75rem;

$cbe-basic-text-color: rgb(68, 68, 68);
$cbe-basic-text-hover-color: #a7a8bf;
$cbe-basic-reply-button-border-color: #cccccc;

.text {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5%;

        .random-operator {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            min-width: 9rem;

            .random-btn {
                display: flex;
                font-family: $cbe-font-family;
                font-size: $font-size-medium;

                .title {
                    display: inline-block;
                    width: 3.6rem;
                    text-align: right;
                }
            }

            .icon-add {
                cursor: pointer;
                color: $cbe-basic-text-color;

                &:hover {
                    color: $cbe-basic-text-hover-color;
                }
            }
        }
    }
}

.error {
    border-color: red !important;
}

.error-wording {
    color: red;
}
